@import url('./assets/css/_buttons.css');
@import url('./assets/css/_fonts.css');
@import url('./assets/css/_themes.css');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;

    font-family: var(--font-primary);
}