@import url('./assets/css/_buttons.css');
@import url('./assets/css/_fonts.css');
@import url('./assets/css/_themes.css');
@import url('./assets/css/_cards.css');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;

    font-family: var(--font-primary);
}

.topbar-heading {
    font-size: 2.2rem;
    font-weight: bold;
}