.bg-1 {
  background: url("./assets/images/bg-1.png") no-repeat center center;
  background-size: cover;
}

.text-blue {
  color: #2563eb;
}

.wallet-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bg-section {
  min-height: 40vh;
}

.main-side {
  max-width: 500px;
  margin: 0 auto;
}
