.bg-1 {
  background: url("../assets/images/bg-1.png") no-repeat center center;
  background-size: cover;
}

.text-blue {
  color: #2563eb;
}

.wallet-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.wallet-logo img {
  width: 160px;
  height: auto;
}

.bg-section {
  min-height: 10vh;
}

.main-side {
  max-width: 500px;
  margin: 0 auto;
}

.login-section {
  max-width: 400px;
}

@media (max-width: 768px) {
  .wallet-logo img {
    width: 100px;
    height: auto;
  }
}
