.btn-primary {
    border-radius: var(--btn-border-radius);
    color: var(--bs-primary-text-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--bs-primary-600);
    border-color: var(--bs-primary-600);
}

.btn-secondary {
    border-radius: var(--btn-border-radius);
    color: var(--bs-secondary-text-color) !important;
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    background-color: var(--bs-secondary-600);
    border-color: var(--bs-secondary-600);
}