@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font-primary: 'IBM Plex Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}