.action-button {
    background-color: transparent !important;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 100%;
    font-weight: bold;

}

.action-button:hover {
    background-color: white !important;
    color: black;
    font-weight: bold;
}
.action-button > svg {
    width: 24px;
    height: 24px;
}